<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.translate.ozh2zh.Mapper.SysRoleMapper">
    <select id="getRolesByUid" resultType="com.translate.ozh2zh.Pojo.SysRole">
        SELECT
        	sys_role.name,
        	sys_role.description
        FROM
        	sys_role_user,
        	sys_role
        WHERE
        	sys_role.id = sys_role_user.role_id AND
        	sys_role_user.user_id = #{uesr_id} AND
        	sys_role.`status` = 1
    </select>

	<select id="getRoles" resultType="com.translate.ozh2zh.Pojo.SysRole">
		SELECT
			sys_role.`name`,sys_role.`description`
		FROM
			sys_role
		WHERE
			sys_role.`name` != #{roleName}
	</select>

	<update id="gaiRole" >
		update sys_role_user set role_id=(SELECT sys_role.id FROM sys_role WHERE sys_role.description = #{roleDec}),
		operator=#{operator},update_time=now() where
		user_id=(SELECT sys_user.id FROM sys_user WHERE sys_user.username = #{userName})
	</update>
</mapper>
